<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="An archive of my projects at Columbia University." />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="/base.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NYT3GC54FL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NYT3GC54FL');
    </script>

    <!-- Plausible Analytics -->
    <script defer data-domain="georgeverghese.com" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
    <header class="container">
      <div class="header-context">
        <div class="h2">
          <a
            class="fade"
            href="https://www.arch.columbia.edu/programs/15-m-s-computational-design-practices"
            target="_blank">MSCDP GSAPP</a>
        </div>
      </div>
      <div class="header-title">
        <div class="h1">
          <a class="fade" href="/">George Verghese</a>
        </div>
        <div class="h2">Project Archive</div>
      </div>
      <div class="header-nav">
        <div class="h2">
          <a class="fade" href="/about">About</a>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>